.gpt3FeaturesContainerFeatures{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}
.gpt3FeaturesContainerFeaturesTitle{
    flex: 1;
    max-width: 180px;
    margin: 2rem;
}
.gpt3FeaturesContainerFeaturesTitle h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.gpt3FeaturesContainerFeaturesTitle div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0,0, 0, 0.25);
    margin-bottom: 0.25rem;
}
.gpt3FeaturesContainerFeaturesText{
    flex: 2;
    max-width: 390px;
    display: flex;
}
.gpt3FeaturesContainerFeaturesText p{
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 188% */


color: var(--color-text);
}